.background-modal{
  background-image:linear-gradient(to right bottom, rgba(72, 198, 239, 0.75), #114498);;
  background-repeat: no-repeat;
  background-position: left top;
}

.statistics-background{
  margin-bottom: 1.5rem;
  background-color: rgb(55, 0, 60);
  background-image: url(../../_assets/eiw-bg-m.6a3a5a31.svg);
  background-size: 574px 241px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  border-radius: 4px;
  padding: 0px 1rem;
  background-repeat: no-repeat;
  background-position: right top -66px;
}

